/* autoprefixer grid: autoplace */
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

@import "./config.css";
@import "./chrome-bug.css";

@import "tailwindcss/base";
@import "./base.css";

@import "tailwindcss/components";
@import "./components.css";

@import "tailwindcss/utilities";

@import "./mobile-nav.css";

@import "./home.css";

@import "./override.css";



/* custom.css */
.hover-text-container {
    position: relative;
  }
  
  .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    display: none;
    text-align: center;
  }
  
  .hover-text-container:hover .hover-text {
    display: block;
  }
  